<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Thymeleaf View</title>
</head>
<body>
	<h1>Thymeleaf View Apply</h1>
	
	<!-- 링크 th:href -->
	<a th:href="@{/view-basic}">view-basic 이동</a>
	
	<!-- Query String : ?name=value -->
	<!-- http://localhost:8080/students?sid=20246001&sname=thyme -->
	<a th:href="@{/students(sid=${thyme.sid},sname=${thyme.sname})}">쿼리스트링</a>
	
	<!-- Path Variable : /students/ -->
	<!-- http://localhost:8080/students/20246001 -->
	<a th:href="@{/students/{sid}(sid=${thyme.sid})}">경로 파라미터</a>
	
	<!-- 버튼 안에 링크 삽입 -->
	<!-- 방법 1) -->
	<button th:onclick="'location.href=\'' + @{/view-basic} + '\''">view-basic 이동</button>
	<!-- 방법 2) 리터럴 대체하는 |...| 이용, location.href='주소' (주소는 따옴표로 감싸져야만 한다)-->
	<button th:onclick="|location.href='@{/view-basic}'|">view-basic 이동</button>
	
	<!-- 자바스크립트 인라인  --> 
	<script th:inline="javascript">
		let sid = [[${thyme.sid}]];
		console.log(sid);
	</script>
	
</body>
</html>